python-dotenv>=1.0.0
Flask>=3.0.0
Werkzeug>=3.0.0
cryptography>=42.0.0
# PyDrive2       -> se añadirá en Fase 3 (integración Google Drive)
# mega.py        -> se añadirá en Fase 3 (integración MEGA, opcional)
